---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="Bookshelf">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
        <h1 transition:name="leade" transition:animate="fade" class="mt-2 text-6xl font-bold tracking-tight text-SignalBlack md:text-8xl">I Enjoy Books—Though I've Not Much Time To Read Them
        </h1>
    </div>
    
  </div>

</MainLayout>

