---
import { formatPosts } from "../js/utils";
import BlogPreview from '../components/BlogPreview.svelte';
import MainLayout from '../layouts/MainLayout.astro'
import { getCollection, getEntry } from 'astro:content';
const allPosts = await getCollection('posts');
const formattedPosts = formatPosts(allPosts);
const recentPosts = formattedPosts.slice(0, 3);
---
<MainLayout title="The Distress Signal">
  <div class="bg-white py-14 ">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <p class="text-2xl md:text-3xl font-semibold leading-7 text-SignalPurp">The</p>
        <h1 class="mt-2 text-6xl font-bold tracking-tight text-SignalBlack md:text-8xl">Distress Signal</h1>
        <p class="mt-6 text-lg leading-8 text-SignalBlack">A personal hypertext of <a href="https://twitter.com/Z3r0_Gravitas">Bryan Schuetz</a></p>
      </div>
    </div>
  </div>
  <BlogPreview posts={recentPosts} />  
</MainLayout>

