---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="Uses">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
        <h1 transition:name="leade" transition:animate="fade" class="mt-2 text-6xl font-bold tracking-tight text-SignalBlack md:text-8xl">Crap That I Use
        </h1>
        <div class="bg-white px-6 py-16 lg:px-8">
          <div class="mx-auto max-w-3xl text-base leading-7 text-gray-700">
            <div class="mt-10 max-w-2xl prose text-SignalBlack">
              <p>That thing people do where they list out all the crap that they use to do their jobs and live their lives on a day-to-day basis—so other people can obesess about it as a way to avoid doing what they need to do in their jobs and their lives on a day-to-day basis.</p>
            <p>Also listed on <a href="https://uses.tech">uses.tech</a>.</p>
            <h2>Office/Hardware/Gear</h2>
            <ul>
              <li>Macbook</li>
              <li>Omnitype Bauer Lite</li>
              <li>LG Ultrafine</li>
            </ul>
            <h2>Software/Libraries/Frameworks</h2>
            <ul>
              <li>QMK</li>
              <li>VSCode</li>
              <li>iTerm</li>
              <li>Arc Browser</li>
              <li>Raycast</li>
              <li>Things</li>
              <li>ZSH</li>
              <li>Astro</li>
            </ul>
            <h2>Services/Subscriptions</h2>
            <ul>
              <li>Netlify</li>
              <li>Vercel</li>
              <li>Github</li>
              <li>Cloudflre</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</MainLayout>

