---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="Uses">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
        <h1 transition:name="leade" transition:animate="fade" class="mt-2 text-6xl font-bold tracking-tight text-SignalBlack md:text-8xl">Some Crap That I Use Most Days
        </h1>
        <div class="bg-white px-6 py-16 lg:px-8">
          <div class="mx-auto max-w-3xl text-base leading-7 text-gray-700">
            <div class="mt-10 max-w-2xl prose text-SignalBlack">
              <p>That thing people do where they list out all the crap that they use to do their jobs and live their lives on a day-to-day basis—so other people can obesess about it as a way to avoid doing what they need to do in their jobs and their lives on a day-to-day basis.</p>
            <p>Also listed on <a href="https://uses.tech">uses.tech</a>.</p>
            <h2>Office/Hardware/Gear</h2>
            <ul>
              <li><strong>Macbook</strong>: The last generation of the ill fated touch-bar Macbook Pros.</li>
              <li><strong>Omnitype Bauer Lite</strong>: I've got some <a href="/posts/keyboards">thoughts</a> on keyboards. In this particular case—ghost top, 1st edition bottom, brass plate, OG Marshmallow switches (filmed/lubed). It's so choice. If you have the means, I highly reccomend you pick one up.</li>
              <li><strong>LG Ultrafine</strong>: Single monitor gang, rise up. A crappy monitor, but a great panel at a ( non-ridiculous) price point.</li>
            </ul>
            <h2>Software/Libraries/Frameworks</h2>
            <ul>
              <li><strong>QMK</strong>: If you're not writing your own firmware for your keyboards—you're doing it wrong.</li>
              <li><strong>VSCode</strong>: The worst editor, except for all the others.</li>
              <li><strong>iTerm2</strong>: Hotkey visor mode—runing with TMUX.</li>
              <li><strong>Arc Browser</strong>: It's not called The Rendering Engine Company of New York for a reason.</li>
              <li><strong>Raycast</strong>: I was a huge Quicksilver user backin the day, then Launchbar, AlfredApp, and now Raycast. It doesn't suck.</li>
              <li><strong>Things</strong>: No one does it like Cultured Code.</li>
              <li><strong>ZSH</strong>: Autosuggestions, Jump, FZF, Copilot CLI, Abbreviations, Starship prompt. Gets the job done.</li>
              <li><strong>Astro</strong>: Been building static since before there was CSS. They do soo much right.</li>
            </ul>
            <h2>Services/Subscriptions</h2>
            <ul>
              <li>Netlify</li>
              <li>Vercel</li>
              <li>Github</li>
              <li>Cloudflre</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</MainLayout>

