---
const {title} = Astro.props
import { ViewTransitions } from 'astro:transitions';
import '../global.css';
---

<head>

  <ViewTransitions />
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content={`A personal hypertext of Bryan Schuetz. | {title}`} />
  <meta name="keywords" content="">
  <meta property="og:image" content="https://signal-og-images.vercel.app/api/param?title={title}" />
  <title>{title}</title>

</head>
