---
const { href, text, icon } = Astro.props

import { PenSquare, GitBranchPlus, PocketKnife, Music4, BookOpenText } from 'lucide-astro'

const iconComponents: componentObject = {
  PenSquare,
  GitBranchPlus,
  PocketKnife,
  Music4,
  BookOpenText
}
const IconComponent = iconComponents[icon];

//typeshit
type componentObject = {
  [key: string]: any
  PenSquare: typeof PenSquare
  GitBranchPlus: typeof GitBranchPlus
  PocketKnife: typeof PocketKnife
  Music4: typeof Music4
  BookOpenText: typeof BookOpenText
}
---

<a href={href} class="plain -mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50" id={text}><IconComponent class={"inline mr-1 relative -top-[2px]"}/>{text}</a>

<script >
  function handleClick () {
    const menuContainer = document.getElementById('menu')
    const menuBackground = document.getElementById('menu-background')
    const menuToggle = document.getElementById('menu-toggle-svg')
    menuContainer?.classList.toggle("invisible")
    menuBackground?.classList.toggle("invisible")
    menuToggle?.classList.toggle("active")
  }
  document.getElementById("Blog")?.addEventListener("click", handleClick)
  document.getElementById("Bookshelf")?.addEventListener("click", handleClick)
  document.getElementById("Uses")?.addEventListener("click", handleClick)
  document.getElementById("Music")?.addEventListener("click", handleClick)
  document.getElementById("menu-nishiki")?.addEventListener("click", handleClick)
</script>
