---
const { title } = Astro.props
import Head from '../components/Head.astro'
import { getEntry } from 'astro:content';
const navLinks = await getEntry('mydata', 'nav');
import Header from '../components/Header.svelte'
import Breakpoints from '../components/Breakpoints.svelte'
---
<html lang="en">
  <Head title={title}/>
	<body>
    <Header links={navLinks} client:load/>
    
    <slot></slot>
    <footer class="mx-auto flex max-w-7xl items-center p-6 lg:px-8">
      <Breakpoints />
    </footer>
	</body>
</html>

<style>
  body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
</style>