---
const { title } = Astro.props
import Head from '../components/Head.astro'
import { getEntry } from 'astro:content';
const navLinks = await getEntry('mydata', 'nav');
import Header from '../components/Header.astro'
import Breakpoints from '../components/Breakpoints.astro'
---
<html lang="en">
  <Head title={title}/>
	<body>
    <Header links={navLinks}/>
    <slot></slot>
    <Breakpoints />
	</body>
</html>

<style>
  body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
</style>